{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="row" id="landingpage_row">

    <aside id="me_info" class="col-6 col-sm-6 col-xs-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

        <img src="{{ MEDIA_URL }}{{landingpage.picture.image.url }}" class="img-thumbnail" alt="{{ landingpage.picture.caption }}">
        <div class="col-1 col-sm-1 col-xs-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1">
            <a href="{{ landingpage.github_url }}">
                <img src="{% static 'images/githublogo_80887.png' %}" alt="View my projects on Github">
            </a>
        </div>
        <div class="col-1 col-sm-1 col-xs-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1">
            <a href="{{ landingpage.linkedin_url }}"><img src="{% static 'images/linkedin_logo_icon_143562.png' %}"
                                                          alt="View my experience on LinkedIn"></a>
        </div>
    </aside>
    <main id="landingpage_content">
        <h1> {{ landingpage.title }} </h1>
        <h2> {{ landingpage.subtitle }}</h2>
        <p>{{ landingpage.about}}</p>
        <article id="actions">
            <a href="mailto:{{  landingpage.email }}">Contact me!</a> or
            <a href="{{ MEDIA_URL}}{{ landingpage.cv.url }}" download> Download my CV!</a> or
            <a href="{% url 'app_portfolio:index' %}">Learn more about me!</a>
            {{ MEDIA_URL}}{{ landingpage.cv.url }}
            {{ landingpage.cv.url }}

        </article>
    </main>
</div>
{% endblock %}