{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block meta %}
<meta id="programminglanguages" data-name="{{ programminglanguages}}">
{% endblock %}
{% block content %}
<div class="row" id="portfolio_row">
    <main id="portfolio">
        <h1 id="portfolio_title">Portfolio</h1>
        <button id="filter" type="button" class="btn btn-success" onclick="toggle()">Filter</button>
        <nav id="filters" role="navigation">

        </nav>
        <div class="col-sm-3">
            {% for person, data in data.items %}
            {{ person }} - {{ data }} <br>
            {% endfor %}
        </div>
    </main>
</div>
{% endblock %}