{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block meta %}
<meta id="programminglanguages" data-name="{{ programminglanguages}}">
<meta id="programmingtechniques" data-name="{{ programmingtechniques}}">
<meta id="frameworks" data-name="{{ frameworks}}">
<meta id=" competence" data-name="{{competence}}">
<meta id="oses" data-name="{{oses}}">
{% endblock %}
{% block content %}
<div class="row" id="portfolio_row">
    <main id="portfolio">
        <h1 id="portfolio_title">Portfolio</h1>
        <button id="filter" type="button" class="btn btn-success" onclick="toggle()">
            <span class="material-icons">filter_list</span>
    </button>
        <nav id="filters" role="navigation">

        </nav>
    </main>
</div>
{% endblock %}