

div#page-container {
  font-family: Ubuntu, "times new roman", times, roman, serif;
  background: white url("/static/images/python_logo_tiles_more.png") space;
  position: relative;
  min-height: 100vh;

}

header {
    background-color: #346C94;
    color: #FCDF54;
    justify-content: center;
}

header > div > nav{
     color: #FCDF54;
}

span#nav-btn-toggler-icon {
    color: red;
}

@media(min-width: 1200px){

    #navbarToggleExternalContent > div > ul{
        align-content: center;
        align-items: center;
        box-sizing: content-box;
        width: 100%;
        padding: 5px;
    }

}


@media(min-width: 1200px){

    #navbarToggleExternalContent > div {
        float: left;
        list-style: none;
        height: 300px;
}

@media(min-width: 1200px){

    #navbarToggleExternalContent > div > ul > li > a.mustard{
        color:  #FCDF54;
        font-family: Ubuntu, "times new roman", times, roman, serif
        justify-content: center;
    }
 }
div#container {
    align-content: center;
    background-color: #346C94;
    color: #FCDF54;
    padding-bottom: 2.5rem;
}
.centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
}
footer {
    align-content: center;
    background-color: #346C94;
    color: #FCDF54;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

#landingpage_row{
    align-content: center;
    background-color: #346C94;
    color: #FCDF54
    position: relative;
    font-family: Ubuntu, "times new roman", times, roman, serif;
    margin-top: 250px;
    margin-bottom: 250px;
}
#me_info{
    background-color: #346C94;
    color: #FCDF54;
    align: left;
    width: 40%;
    justify-content: center;
    font-family: Ubuntu, "times new roman", times, roman, serif

}
#picture-of-me {

    margin-left: 20px;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#landingpage_content {
     background-color: #346C94;
     color: #FCDF54;
     width: 60%;
     align: right;
     justify-content: center;
     font-family: Ubuntu, "times new roman", times, roman, serif
}


#landingspage-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

#landingspage-subtitle,
#landingspage-about,
#actions {
    margin-bottom: 20px;
}

#Github-logo-img {
    margin-top: 20px;
    margin-bottom: 20px;
}

#Linkedin-logo-img {
    margin-top: 20px;
    left: 200px;
}





,astral {
    color:#3473A5;
}

,bright-sun {
    color:#FCD343;
}

.calypso {
    color: #346C94;
}

#actions > a.mustard {
    color: #FCDF54;
}