{% load static %}

body{
    background: white url({% static "images/python_logo_tiles_more.png" %}) repeat;

}

header {
    background-color: #346C94;
    color: #FCDF54;

}

div#container {
    align-content: center;
    background-color: #346C94;
    color: #FCDF54
}

footer {
    align-content: center;
    background-color: #346C94;
    color: #FCDF54
}
landingpage_row{
    align-content: center;
    background-color: #346C94;
    color: #FCDF54
    position: relative;
}
#me_info{
    background-color: #346C94;
    color: #FCDF54;
    width: 35%;
    align: left;
    justify-content: center

}
#landingpage_content {
     background-color: #346C94;
     color: #FCDF54;
     width: 55%;
     align: right;
     justify-content: center
}