body{
    background-color: #fff;
}

header {
    align-content: center;
    background-color: #346C94;
    color: #FCDF54
}

footer {
    align-content: center;
    background-color: #346C94;
    color: #FCDF54
}
landingpage_row{
    align-content: center;
    background-color: #346C94;
    color: #FCDF54
    position: relative;
}
#me_info{
    background-color: #346C94;
    color: #FCDF54;
    width: 40%;
    align: left;
    justify-content: center

}
#landingpage_content {
     background-color: #346C94;
     color: #FCDF54;
     width: 60%;
     align: right;
     justify-content: center
}